.moviesElement__group {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 22px 0 22px 22px;
}

@media screen and (max-width: 480px) {
  .moviesElement__group {
    width: 272px;
    height: 36px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 14px auto;
  }
}

