.error__text {
  margin: 0;
  padding: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

@media screen and (max-width: 425px) {
  .error__text {
    font-size: 12px;
    line-height: 15px;
  }
}
