.search__input {
  padding: 0;
  width: 100%;
  min-height: 34px;
  border: none;
  outline: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;

  text-align: center;

  color: #A0A0A0;
}


.search__input:invalid {
  display: block;
}

@media screen and (max-width: 450px) {
  .search__input {
    text-align: start;
    font-size: 18px;
    line-height: 22px;
  }
}
