.profile__info {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 14px;
  border: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;

  color: #000000;
}
