.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    align-items: center;
    min-height: 42px;
  }
}
