.about {
  min-height: 388px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 70px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding: 70px 18px;
  }
}
