.steps {
  padding: 0;
  margin: 70px 0 110px;
  width: 100%;
  min-height: 90px;
  display: grid;
  gap: 40px;
  grid-template: 1fr / repeat(2, 1fr);
}

@media screen and (max-width: 550px) {
  .steps {
    grid-template: repeat(2, 1fr) / 1fr;
    margin: 60px 18px;
    gap: 56px;
  }
}
