.techs__text {
  margin: 26px auto 0;
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;
}

@media screen and (max-width: 425px) {
  .techs__text {
    margin: 24px auto 0;
    font-size: 11px;
    line-height: 16px;
  }
}
