.portfolio__profession {
  margin: 0 0 26px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

@media screen and (max-width: 767px) {
  .portfolio__profession {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 20px 0;
  }
}
