.error__button {
  margin: 0;
  padding: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #2BE080;

  position: absolute;
  bottom: 69px;
}
