.popup__nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  height: 100%;
  width: 520px;
  right: 0px;
  top: 0px;

  background: #FFFFFF;
}

@media screen and (max-width:520px) {
  .popup__nav {
    width: 100%;
  }

}
