.nav__movies {
  text-decoration: none;
  padding: 0;
  margin: 0 16px 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #000000;
}
