.moviesElement__like_active {
  background-image: url('../../../../images/moviesElement__like_active.svg');
  background-repeat: no-repeat;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  background-color: unset;
  width: 14px;
  height: 12px;
  padding: 0;
  border: 0;
  margin: 0;
}

.moviesElement__like_active:hover {
  opacity: 0.8;
  cursor: pointer;
}
