.footer__link {
  margin: 0 0 0 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: none;

  text-align: right;

  color: #000000;
}

.footer__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .footer__link {
    text-align: center;
    margin: 0;
  }
}
