.profile__submit {
  margin: 70px auto 22px;
  padding: 13px 0;
  background: #3456F3;
  border-radius: 3px;
  border: none;
  width: 100%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #FFFFFF;
}

.profile__submit:hover {
  opacity: 0.8;
}

.profile__submit:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

@media screen and (max-width: 425px) {
  .profile__submit {
    padding: 15px 0;
    width: 260px;
  }
}
