.more__button {
  display: flex;
  justify-content: center;
  margin: 22px auto 80px;
  padding: 0;
  width: 320px;
  height: 36px;
  border: 1px solid #E8E8E8;
  background-color: transparent;
  border-radius: 6px;
}

.more__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .more__button {
    width: 240px;
  }
}
