.search {
  margin: 0;
  padding: 60px 70px 113px;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 78px 30px 124px;
  }
}

@media screen and (max-width: 450px) {
  .search {
    padding: 83px 14px 89px;
  }
}
