.about__header {
  margin: 0 70px;
  width: 100%;
  min-height: 51px;
  text-decoration: underline;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 550px) {
  .about__header {
    margin: 0 18px;
    font-size: 18px;
    line-height: 22px;
  }
}
