.moviesElement__duration {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #A0A0A0;
  margin: 0 0 30px;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .moviesElement__duration {
    width: 228px;
    margin: 0;
  }
}
