.error__header {
  margin: 0 0 5px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;

  color: #000000;
}

@media screen and (max-width: 425px) {
  .error__header {
    font-size: 80px;
    line-height: 97px;
    margin: 0 auto 10px;
    justify-content: flex-start;
  }
}
