.techs__name {
  margin: 21px auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;
}
