.MoviesElements {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  .MoviesElements {
    align-items: center;
  }
}
