.portfolio__name {
  margin: 0 0 18px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;

  letter-spacing: -0.04em;

  color: #000000;
}

@media screen and (max-width: 767px) {
  .portfolio__name {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
  }
}
