.search__icon {
  margin: 0;
  padding: 0;
  width: 34px;
  height: 34px;
  object-fit: cover;
  margin-left: 6px;
}

@media screen and (max-width: 450px) {
  .search__icon {
    display: none;
  }
}
