.moviesElement__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
  margin: 0 0 13px;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .moviesElement__title {
    width: 228px;
    margin: 0 30px 8px 0;
    font-size: 12px;
    line-height: 15px;
  }
}
