.footer__project {
  width: 100%;
  padding: 0 0 20px;
  margin: 0 0 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  text-align: center;

  color: #A0A0A0;
  border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 425px) {
  .footer__project {
    margin: 0 0 30px;
  }
}
