.timetable__heading {
  margin: 0;
  padding: 9px 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}

@media screen and (max-width: 550px) {
  .timetable__heading {
    font-size: 11px;
    line-height: 13px;
    padding: 11px 0;
  }
}
