.form {
  margin: 0 auto;
  padding: 0;
  max-width: 396px;
  height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .form {
    max-width: 260px;
    align-items: center;
  }
}
