.promo__background {
  padding: 0;
  margin: 0 auto;

  background-color: #5C5C5C;
  max-width: 1280px;
  min-height: 524px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .promo__background {
    height: 784px;
  }
}

@media screen and (max-width: 425px) {
  .promo__background {
    height: 570px;
  }
}

